<nav>
  <mat-toolbar color="primary">
    <span>Chat</span>
    <span class="header"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <app-btn-logout></app-btn-logout>
    </button>
  </mat-toolbar>
</nav>

<main>
  <section class="container-chat mat-elevation-z5">
    <mat-card
      class="chat-message mat-elevation-z4"
      *ngFor="let messageUser of chatMessage"
      [class.currentUser]="messageUser.user == nickname"
      [class.noCurrentUser]="messageUser.user != nickname"
    >
      <h4>{{ messageUser.user }} diz:</h4>
      <p>{{ messageUser.message }}</p>
    </mat-card>
  </section>

  <form
    class="message-form"
    [formGroup]="messageForm"
    (ngSubmit)="formSubmit(messageForm.value)"
  >
    <mat-form-field class="message-form-field">
      <input
        matInput
        placeholder="Digite a mensagem aqui"
        formControlName="message"
      />
    </mat-form-field>
    <button mat-fab color="primary" type="submit">
      <mat-icon>send</mat-icon>
    </button>
  </form>
</main>

<form
  class="mat-elevation-z8 return"
  [formGroup]="returnForm"
  (ngSubmit)="returnFormSubmit(returnForm.value)"
>
  <button mat-icon-button type="submit" formControlName="message">
    <mat-icon aria-hidden="false" aria-label="Example home icon"
      >reply_all</mat-icon
    >
    Voltar para a lista de salas
  </button>
</form>
