<nav>
  <mat-toolbar color="primary">
    <span>Chat</span>
    <span class="header"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <app-btn-logout></app-btn-logout>
    </button>
  </mat-toolbar>
</nav>

<main></main>

<section class="mat-elevation-z8 return" (click)="returnForList()">
  <h4>Voltar para a lista de salas</h4>
  <button mat-icon-button>
    <mat-icon aria-hidden="false" aria-label="Example home icon"
      >reply_all</mat-icon
    >
  </button>
</section>
