<nav>
  <mat-toolbar color="primary">
    <span>Chat</span>
    <span class="header"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <app-btn-logout></app-btn-logout>
    </button>
  </mat-toolbar>
</nav>

<main>
  <section>
    <div class="chat-message" *ngFor="let messageUser of chatMessage">
      <p>{{ messageUser.message }}</p>
    </div>
  </section>

  <form
    class="message-form"
    [formGroup]="messageForm"
    (ngSubmit)="formSubmit(messageForm.value)"
  >
    <mat-form-field class="message-form-field">
      <input
        matInput
        placeholder="Digite a mensagem aqui"
        formControlName="message"
      />
      <button type="submit">
        <mat-icon>send</mat-icon>
      </button>
    </mat-form-field>
  </form>
</main>

<form
  class="mat-elevation-z8 return"
  [formGroup]="returnForm"
  (ngSubmit)="returnFormSubmit(returnForm.value)"
>
  <button mat-icon-button type="submit" formControlName="message">
    <mat-icon aria-hidden="false" aria-label="Example home icon"
      >reply_all</mat-icon
    >
    Voltar para a lista de salas
  </button>
</form>
