<nav>
  <mat-toolbar color="primary">
    <span>Salas</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <app-btn-logout></app-btn-logout>
    </button>
  </mat-toolbar>
</nav>

<div class="templateList">
  <button
    mat-raised-button
    color="primary"
    aria-label="botão de criar nova sala"
    routerLink="/newRoom"
  >
    + Criar nova sala
  </button>
</div>
