<nav>
  <mat-toolbar color="primary">
    <span>Salas</span>
    <span class="header"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <app-btn-logout></app-btn-logout>
    </button>
  </mat-toolbar>
</nav>

<div class="templateList rooms-list">
  <button
    mat-raised-button
    color="primary"
    aria-label="botão de criar nova sala"
    routerLink="/newRoom"
  >
    + Criar nova sala
  </button>
</div>

<section class="rooms-list">
  <div class="mat-elevation-z8">
    <table
      mat-table
      [dataSource]="rooms"
      matSort
      matSortActive="roomname"
      matSortDisableClear
      matSortDirection="asc"
    >
      <ng-container matColumnDef="roomname">
        <th mat-header-cell *matHeaderCellDef>Lista de Salas</th>
        <td class="rooms-names" mat-cell *matCellDef="let col">
          {{ col.roomName }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let col; columns: displayedColumns"
        (click)="enterChatRoom(col.roomName)"
      ></tr>
    </table>
  </div>
</section>
